* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --primary: #1A1A1D;
    --secondary: #717171;
    --white: #ffffff;
    --block: #0000006e;
}

body {
    align-items: center;
    background-color: var(--primary);
}

/*#output | start*/

.random, .input {
    min-height: 20rem;
}

.random {
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    /*border-bottom: 2px solid var(--white);*/
}

.select {
    display: grid;
    background-color: transparent;
    margin-block: 5rem;
    aspect-ratio: 1/1;
    width: 32%;
    max-width: 30rem;
    min-width: 250px;
    border-radius: 50%;
}

.ring {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    aspect-ratio: 1/1;
    width: inherit;
    max-width: inherit;
    min-width: inherit;
    border-radius: 50%;
    animation-play-state: paused;
    animation-iteration-count: infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0 deg);
        box-shadow: 0px 3px 0px #FFBB00;
    }
    25% {
        transform: rotate(90deg);
        box-shadow: 0px 3px 0px #ff5e14;
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 0px 3px 0px #ff0000;
    }
    75% {
        transform: rotate(270deg);
        box-shadow: 0px 3px 0px #ff6c09;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 0px 3px 0px #FFBB00;
    }
}

.ring::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px var(--secondary);
    border-radius: 50%;
    animation: ring 1s linear;
    animation-iteration-count: inherit;
    animation-play-state: inherit;
}

.output {
    text-align: center;
    padding: 1rem 2rem;
    color: var(--white);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.7rem;
}

/*! output | end*/

/*# number input | start*/

.input {
    background-color: var(--primary);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.number, .name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number, .name > h2{
    text-align: center;
}

.number > h2, .name > h2 {
    color: var(--white);
    margin-block: 3rem;
    font-weight: 400;
    font-size: 2rem;
}

.num-input-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.num-in {
    background-color: var(--block);
    border: none;
    border-radius: 5px;
    padding: .5rem .7rem;
    font-size: 1.2rem;
    width: 50%;
    min-width: 200px;
    max-width: 250px;
    box-shadow: 2px 2px 3px 3px #000000 inset;
    color: var(--white);
    font-weight: 300;
}

.num-in::placeholder  {
    font-weight: 400;
}

#numErrMes {
    margin-block: .3rem 2rem;
}

#numErrMes > p{
    color: #ff0000e2;
    opacity: 50;
    font-size: .9rem;
}

/*! number input | end*/

/*# submit buttons | start*/

.in-submit {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: .5rem 1.5rem;
    color: transparent;
    background-color: transparent;
    transition: all .3s ease;
    cursor: pointer;
    border: 3px solid #ffbb00;
    text-transform: uppercase;
    background: linear-gradient(90deg, #FFBB00, #ffae00);
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 500;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffbb00;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease;
}

.arrow-icon {
    aspect-ratio: 1/1;
    block-size: 60%;
    transition: all .3s ease;
    stroke: var(--primary);
}

.in-submit:hover > .arrow {
    transform-origin: left;
    transform: scaleX(1);
}

.in-submit:focus > .arrow {
    transform: scaleX(0);
    transform-origin: right;
}

/*! submit buttons | end*/

/*# name input | start*/

.name {
    margin-block-end: 5rem;
}

.name-input-container {
    display: flex;
    justify-content: center;
    position: relative;
    inline-size: 50%;
    min-inline-size: 250px;
    max-inline-size: 400px;
}

.name-in {
    position: relative;
    background-color: var(--block);
    border: none;
    border-radius: 5px;
    padding: .5rem .7rem;
    font-size: 1.2rem;
    color: var(--white);
    box-shadow: 2px 2px 3px 3px #000000 inset;
    width: 100%;
    font-weight: 300;
}

.name-in::placeholder {
    font-weight: 400;
}

.tick {
    stroke: var(--secondary);
    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 1/1;
    padding: 7px;
    cursor: pointer;
}

.name-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-content: center;
    inline-size: 100%;
    margin-block: 2.5rem;
}

.name-display > h3{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-inline: 2rem;
    background-color: var(--block);
    padding: .2rem .3rem;
    font-size: 1.2rem;
    border-radius: 5px;
    color: var(--secondary);
    font-weight: 400;
    box-shadow: 1px 1px 2px 2px #000000;
    word-break: break-all;
    max-inline-size: 400px;
}

.name-display > h3 > div {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-inline-end: -5px;
    margin-inline-start: 5px;
}

.name-display > h3 > div > button {
    display: inherit;
    block-size: fit-content;
    border: none;
    background-color: transparent;
    margin-inline-end: 5px;
    cursor: pointer;
}

.name-display > h3 > div > button > svg {
    aspect-ratio: 1/1;
    inline-size: 1rem;
    stroke: var(--secondary);
}

@media only screen and (max-width: 400px) {

    .input {
        display: flex;
        flex-direction: column;
    }

}